.DS_Store
Blue_all/
CA4 Spectra.xlsx
CA4_LightSpectra.png
CA4_data.xlsx
FullDataMap.png
Green_all/
Irradiance_100m.png
Nv.txt
TARAdata_LucasTest.png
Td.txt
light_out.txt
Ot.txt
~$CA4_data.xlsx
Euler/
Results/
~*
CA4Model.m~